th {
    text-align: right;
    font-weight: normal;
}
b0 {
    color:blue;
    font-weight: bold;
}
b1 {
    color:red;
    font-weight: bold;
}
b2 {
    color:orange;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    font-size: 10px;
}